# Files and directories created by pub
.dart_tool/
.packages
.pub/

# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Visual Studio Code related
.classpath
.project
.settings/
